.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 45px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 100px;
  gap: 45px;
}

.products-summery {
  background-color: rgba(255, 153, 0, 0.3);
  height: 100vh;
}
.products-summery .title {
  text-align: center;
}
.order-summary {
  padding-left: 23px;
}
