.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  margin-top: 20px;
  position: relative;
}
.product img {
  width: 286px;
  border-radius: 15px;
  padding: 6px;
  height: 286px;
}
.product-info{
    padding: 0 5px;
}
.product-name {
  font-weight: 400;
  font-size: 21px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #0e161a;
}
.price {
  font-weight: 400;
  font-size: 17px;
  margin-top: 2px;
  color: #0e161a;
}
.seller{
    margin-bottom: 2px;
}
.btn-cart {
  background-color: #ffe0b3;
  border: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border-radius: 0px 0px 8px 8px;
}
.btn-cart:hover{
    background-color: orange;
}
